body {
    margin: 0;
    padding: 0;
    background-color: rgb(215, 216, 210);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .opciones {
    width: 500px;
    height: 550px;
    background-color: rgb(147, 148, 141);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .inicio {
    width: 500px;
    height: 900px;
    background-color: rgb(147, 148, 141);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    margin-top: 50px;
  }
  .imagenAtras {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0, 0);
    margin-top: 0%;
  }
  .btAtras {
    height: 50px;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    margin: 20px;
  }
  .btGeneral {
    width: 200px;
    height: 50px;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    background-color: rgb(147, 144, 197);
    border-radius: 50px;
  }
  